<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <h1>Chat with agent</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut velit sed felis laoreet varius sed vel magna. Proin tempor massa augue, sit amet suscipit lectus iaculis vel. Morbi vitae fermentum orci, id scelerisque tellus. Nunc eu augue
                pretium, convallis magna eu, tempor est. Aliquam eu purus quis tortor malesuada sagittis. Quisque dignissim pharetra laoreet. Ut justo urna, pharetra et nunc eget, pellentesque malesuada elit. Quisque varius vulputate quam, non egestas
                justo commodo sit amet. Duis consequat arcu non enim lacinia, ut dapibus odio ullamcorper. Mauris dignissim tincidunt velit eu dictum. Vivamus quis metus convallis, tempor tortor eu, elementum odio. Nulla mi magna, tincidunt eget porttitor
                id, euismod non dui. Duis eget lectus semper leo venenatis porttitor. </p>
        </div>
        <div class="col-3 text-center">
            <img height="180" width="300" src="./assets/realtime.png" alt="realtime">
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-3 text-center">
            <img height="180"  width="300" src="./assets/conferencing.png" alt="conferencing">
        </div>
        <div class="col-5">
            <h1>Video Conferencing</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut velit sed felis laoreet varius sed vel magna. Proin tempor massa augue, sit amet suscipit lectus iaculis vel. Morbi vitae fermentum orci, id scelerisque tellus. Nunc eu augue
                pretium, convallis magna eu, tempor est. Aliquam eu purus quis tortor malesuada sagittis. Quisque dignissim pharetra laoreet. Ut justo urna, pharetra et nunc eget, pellentesque malesuada elit. Quisque varius vulputate quam, non egestas
                justo commodo sit amet. Duis consequat arcu non enim lacinia, ut dapibus odio ullamcorper. Mauris dignissim tincidunt velit eu dictum. Vivamus quis metus convallis, tempor tortor eu, elementum odio. Nulla mi magna, tincidunt eget porttitor
                id, euismod non dui. Duis eget lectus semper leo venenatis porttitor. </p>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-5">
            <h1>Media recording</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut velit sed felis laoreet varius sed vel magna. Proin tempor massa augue, sit amet suscipit lectus iaculis vel. Morbi vitae fermentum orci, id scelerisque tellus. Nunc eu augue
                pretium, convallis magna eu, tempor est. Aliquam eu purus quis tortor malesuada sagittis. Quisque dignissim pharetra laoreet. Ut justo urna, pharetra et nunc eget, pellentesque malesuada elit. Quisque varius vulputate quam, non egestas
                justo commodo sit amet. Duis consequat arcu non enim lacinia, ut dapibus odio ullamcorper. Mauris dignissim tincidunt velit eu dictum. Vivamus quis metus convallis, tempor tortor eu, elementum odio. Nulla mi magna, tincidunt eget porttitor
                id, euismod non dui. Duis eget lectus semper leo venenatis porttitor. </p>
        </div>
        <div class="col-3 text-center">
            <img height="180" width="300" src="./assets/realtime.png" alt="realtime">
        </div>
    </div>
</div>