<nav id="menu" class="navbar navbar-expand-lg fixed-top navbar-dark bg-apirtc">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://apirtc.com">
            <img height="36" width="140" alt="ApiRTC" src="./assets/apiRTC-dark.png" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu"
            aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="https://apirtc.com/features/">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://apirtc.com/use-cases/">Use-Cases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://apirtc.com/pricing/">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/docs">Developers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://apirtc.com/blog/">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://apirtc.com/contact-us/">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" rel="noopener" href="https://cloud.apirtc.com/">Login</a>
                </li>
            </ul>
            <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z">
        </path>
    </symbol>
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
        </path>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
        </path>
    </symbol>
</svg>

<!--my-5 used to allow margin for menu and footer -->
<div id="content" class="my-5">
    <div class="mobile-btn" [class.display]="mobileQuery?.matches && !snav.opened">
        <button mat-mini-fab color="apirtc" (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <mat-sidenav-container>
        <mat-sidenav #snav [mode]="mobileQuery?.matches ? 'over' : 'side'" [fixedInViewport]="true" [fixedTopGap]="100">
            <app-docs-side-menu (click)="onMenuClick()"></app-docs-side-menu>
        </mat-sidenav>
        <!--mb-5 used to allow more margin for footer -->
        <mat-sidenav-content class="mb-5">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<!-- Footer -->
<nav class="navbar navbar-expand-lg fixed-bottom navbar-dark bg-apirtc">
    <div class="container">
        <span class="navbar-text ms-5">Copyright © 2022. Apizee. All rights
            reserved.</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-footer"
            aria-controls="navbar-footer" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-footer">
            <ul class="navbar-nav ms-5 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="//www.apirtc.com/legal-notice/">Legals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="//www.apirtc.com/privacy/">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="//www.apirtc.com/cookie-management-policy/">Cookie Management Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:openAxeptioCookies()">Manage my cookies</a>
                </li>
            </ul>
        </div>
    </div>
</nav>