<div class="container">
    <div id="getting-started" class="row justify-content-center">
        <div class="col-5">
            <img width="200" src="./assets/ApiRTC_relook_branding_v01.png">
            <span class="badge rounded-pill bg-dark"><a routerLink="/docs">Getting Started !</a></span>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-5">
            <h1>For developers</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut velit sed felis laoreet varius sed vel magna. Proin tempor massa augue, sit amet suscipit lectus iaculis vel. Morbi vitae fermentum orci, id scelerisque tellus. Nunc eu augue
                pretium, convallis magna eu, tempor est. Aliquam eu purus quis tortor malesuada sagittis. Quisque dignissim pharetra laoreet. Ut justo urna, pharetra et nunc eget, pellentesque malesuada elit. Quisque varius vulputate quam, non egestas
                justo commodo sit amet. Duis consequat arcu non enim lacinia, ut dapibus odio ullamcorper. Mauris dignissim tincidunt velit eu dictum. Vivamus quis metus convallis, tempor tortor eu, elementum odio. Nulla mi magna, tincidunt eget porttitor
                id, euismod non dui. Duis eget lectus semper leo venenatis porttitor. </p>
        </div>
        <div class="col-3 text-center">
            <img width="200" src="./assets/for_developers.png">
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-3 text-center">
            <img width="200" src="./assets/performance.png">
        </div>
        <div class="col-5">
            <h1>Performances</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut velit sed felis laoreet varius sed vel magna. Proin tempor massa augue, sit amet suscipit lectus iaculis vel. Morbi vitae fermentum orci, id scelerisque tellus. Nunc eu augue
                pretium, convallis magna eu, tempor est. Aliquam eu purus quis tortor malesuada sagittis. Quisque dignissim pharetra laoreet. Ut justo urna, pharetra et nunc eget, pellentesque malesuada elit. Quisque varius vulputate quam, non egestas
                justo commodo sit amet. Duis consequat arcu non enim lacinia, ut dapibus odio ullamcorper. Mauris dignissim tincidunt velit eu dictum. Vivamus quis metus convallis, tempor tortor eu, elementum odio. Nulla mi magna, tincidunt eget porttitor
                id, euismod non dui. Duis eget lectus semper leo venenatis porttitor. </p>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-5">
            <h1>REST APIs</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut velit sed felis laoreet varius sed vel magna. Proin tempor massa augue, sit amet suscipit lectus iaculis vel. Morbi vitae fermentum orci, id scelerisque tellus. Nunc eu augue
                pretium, convallis magna eu, tempor est. Aliquam eu purus quis tortor malesuada sagittis. Quisque dignissim pharetra laoreet. Ut justo urna, pharetra et nunc eget, pellentesque malesuada elit. Quisque varius vulputate quam, non egestas
                justo commodo sit amet. Duis consequat arcu non enim lacinia, ut dapibus odio ullamcorper. Mauris dignissim tincidunt velit eu dictum. Vivamus quis metus convallis, tempor tortor eu, elementum odio. Nulla mi magna, tincidunt eget porttitor
                id, euismod non dui. Duis eget lectus semper leo venenatis porttitor. </p>
        </div>
        <div class="col-3 text-center">
            <img width="200" src="./assets/rest_api.png">
        </div>
    </div>
</div>